#red {
  color: red;
}

#blue {
  color: rgb(0, 255, 255);
}
#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

.color-title {
  font-weight: normal;
}

img {
  height: 200px;
  width: 200px;
}
